pyttsx3==2.90
selenium==4.25.0
rapidfuzz==3.9.6
python-dotenv==1.0.1
psutil==6.0.0
colorama==0.4.6
pytest==8.3.2
pywin32==306
wmi==1.5.1
mss==9.0.1
comtypes==1.4.5
pycaw==20230407
SpeechRecognition==3.10.4
PyAudio==0.2.14
pyautogui==0.9.54
pygetwindow==0.0.9
pytesseract==0.3.10
Pillow==10.4.0
